<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberSecGen</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}"> <!-- Hubungkan dengan berkas CSS -->
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            CyberSecGen
        </div>
        <div class="chat-log" id="chat-log">
            <!-- Isi obrolan akan ditampilkan di sini -->
        </div>
        <div class="chat-input">
            <input type="text" id="user-input" placeholder="Send a message">
            <button id="send-button">Send</button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js"></script>
    <script src="{{ url_for('static',filename='script/script.js') }}"></script> <!-- Hubungkan dengan berkas JavaScript -->
</body>
</html>
