/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Buat tampilan full page */
html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0; /* Hapus margin default body */
}

/* Container Chatbot */
.chat-container {
    margin: 20%; /* Tambahkan ruang atas dan bawah (seperti margin) */
    width: 100%; /* Lebar 100% */
    height: 100%; /* Tinggi 100% */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 700px) {
    .chat-container {
        margin: 0%; /* Tambahkan ruang atas dan bawah (seperti margin) */
        width: 100%; /* Lebar 100% */
        height: 100%; /* Tinggi 100% */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }
}

/* Header */
.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Chat Log */
.chat-log {
    flex: 1; /* Agar konten chat-log dapat mengisi tinggi penuh */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    max-height: 100%; /* Tinggi maksimum chat log, sesuaikan sesuai kebutuhan */
    overflow-y: auto; /* Aktifkan scroll jika konten melebihi tinggi maksimum */
}

.user-message, .bot-message {
    margin-bottom: 10px;
}

/* Bubble untuk Pesan Pengguna */
.user-message {
    text-align: left;
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%; /* Lebar maksimum pesan pengguna */
    margin-left: auto; /* Untuk meletakkan pesan pengguna di sebelah kanan */
    margin-right: 10px; /* Spasi antara pesan dengan tepi chat log */
    word-wrap: break-word; /* Memungkinkan teks panjang untuk mematahkan ke baris berikutnya */
    white-space:pre-wrap;
}

/* Bubble untuk Pesan Chatbot */
.bot-message {
    text-align: left;
    color: #333;
    background-color: #e9e9e9;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%; /* Lebar maksimum pesan chatbot */
    margin-right: auto; /* Untuk meletakkan pesan chatbot di sebelah kiri */
    margin-left: 10px; /* Spasi antara pesan dengan tepi chat log */
    word-wrap: break-word; /* Memungkinkan teks panjang untuk mematahkan ke baris berikutnya */
    white-space:pre-wrap;
}

.hljs {
    max-width: 70%;
}

/* Chat Input */
.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; /* Tambahkan ruang atas */
    margin-bottom: 10px; /* Tambahkan ruang bawah */
}

#user-input {
    flex: 1;
    padding: 15px; /* Besar input pengguna */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 25px; /* Besar tombol "Kirim" */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send-button:hover {
    background-color: #0056b3;
}

.loader {
    margin-left: 10px;
    margin-right: auto;
    width: 50px; /* control the size */
    aspect-ratio: 8/5;
    --_g: no-repeat radial-gradient(#000 68%,#0000 71%);
    -webkit-mask: var(--_g),var(--_g),var(--_g);
    -webkit-mask-size: 25% 40%;
    background: #a0a0a0;
    animation: load 1.5s infinite;
}
  
@keyframes load {
    0%    {-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 0%  }
    16.67%{-webkit-mask-position: 0% 100%,50% 0%  ,100% 0%  }
    33.33%{-webkit-mask-position: 0% 100%,50% 100%,100% 0%  }
    50%   {-webkit-mask-position: 0% 100%,50% 100%,100% 100%}
    66.67%{-webkit-mask-position: 0% 0%  ,50% 100%,100% 100%}
    83.33%{-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 100%}
    100%  {-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 0%  }
}